$color_border_inactive: #d7dbdd;
$color_secondary: #57727c;
$color_main_active_border: #2ec2c2;

.weather-l {
  display: flex;
  flex-direction: column;

  li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid $color_border_inactive;
    border-bottom: 1px solid $color_border_inactive;
  }

  li.active {
    border-bottom: 1px solid $color_main_active_border;
    border-right: 1px solid $color_main_active_border;
  }

  li > .icon,
  li > .info {
    display: flex;
    flex-direction: column;
  }

  li > .info {
    padding: 5px 15px;
  }

  li > .info > .name {
    color: $color_secondary;
  }

  li.active > .info > .name {
    color: $color_main_active_border;
  }

  .name {
    font-size: 19px;
  }

  li > .info > .data {
    display: flex;
    align-items: center;
  }

  li > .info > .data > .badge {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
    max-width: 50px;
    margin-right: 8px;
  }

  li > .info > .data > .wind {
    font-size: 13px;
    color: $color_secondary;
    font-weight: 500;
  }

  li > .icon {
    font-size: 40px;
    color: $color_secondary;
  }

  li.active > .icon {
    color: $color_main_active_border;
  }
}
