$color_shadow: rgba(0, 0, 0, 0.3);
$color_shadow_insert: rgba(0, 0, 0, 0.15);
$color_main_header: #57727c;
$color_border: #d7dbdd;

.header-4 {
  text-align: center;
  color: $color_main_header;
  font-size: 21px;
}

.panel {
  display: flex;
  -webkit-box-shadow: 0 1px 5px -1px $color_shadow,
    inset 0 0 0 1px $color_shadow_insert;
  box-shadow: 0 1px 5px -1px $color_shadow, inset 0 0 0 1px $color_shadow_insert;
  margin: 16px;
}

.panel.info {
  height: 150px;

  ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  ul > li {
    display: flex;
    flex-direction: column;
    border: 1px solid $color_border;
    flex: 1;
    padding: 8px;
    align-items: center;
    justify-content: center;
  }

  ul > li > i {
    font-size: 30px;
    padding: 4px;
  }

  ul > li .temp,
  .speed,
  .time {
    font-size: 14px;
    padding: 4px;
    color: $color_main_header;
    text-align: center;
  }
}

.panel.chart {
  height: 350px;
}
