<h4 class="header-4">Weather and
  forecasts in
  {{ cityName }}</h4>
<div class="panel info">
  <ul>
    <li
      *ngFor="let item of forecast">
      <span
        class="temp">{{ time(item.dt) }}</span>
      <i
        class="icon owi owi-{{ item.weather[0].icon }}"></i>
      <span
        class="temp">{{ item.main.temp }}
        °C</span>
      <span
        class="temp">{{ item.wind.speed }}
        m/h.</span>
    </li>
  </ul>
</div>
<div class="panel chart">
  <ngx-charts-area-chart
    [results]="data"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [tooltipDisabled]="false"
    [showGridLines]="true"
    [autoScale]="true"
    [xAxis]="true" [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [customColors]="[{name: '', value: '#5F9F9F'}]"
    [yAxisLabel]="'temperature (°C)'">
  </ngx-charts-area-chart>
</div>
