<div class="row main-v">
  <div class="col-3">
    <app-weather-list
      [selectedCityID]="selectedCityID$ | async"
      [citiesWeather]="citiesWeather$ | async"
      (selectCity)="selectCity($event)">
    </app-weather-list>
  </div>

  <div class="col-9">
    <app-weather-details
      [forecast]="selectedCityForecast$ | async"
      [cityName]="cityName$ | async"
      [data]="chartData$ | async">
    </app-weather-details>
  </div>

</div>
