<!--Navbar-->
<mdb-navbar class="nav-bar"
  SideClass="navbar navbar-expand-lg navbar-dark cyan"
  [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a
      class="navbar-brand">
      <i
        class="owi owi-02d icon-w"></i>
    </a>
  </mdb-navbar-brand>
</mdb-navbar>
<!--/.Navbar-->
