<ul class="weather-l">
  <li
    *ngFor="let item of citiesWeather"
    [class.active]="selectedCityID === item.id"
    (click)="selectCity.emit(item.id)">
    <i
      class="icon owi owi-{{ item.weather[0].icon }}"></i>
    <div class="info">
      <h3 class="name">
        {{ item.name }}</h3>
      <div class="data">
        <span
          class="badge">{{ item.main.temp }}
          °С</span>
        <span class="wind"> wind
          {{ item.wind.speed }}
          m/s.</span>
      </div>
    </div>
  </li>
</ul>
